@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-navy: 25 34 74;
}

@media print {
  body * { visibility: hidden; }
  .print-area, .print-area * { visibility: visible; }
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print { display: none !important; }
}
